PORT=3000
CORS_ORIGIN="http://localhost:5173"

NODE_ENV="production"
RATE_LIMIT=100
REQUEST_SIZE_LIMIT="1mb"

WEATHER_API_URL="https://api.open-meteo.com/v1/forecast"
REQUEST_TIMEOUT_MS=10000

POSTGRES_USER="postgres"
POSTGRES_PASSWORD="12345"
POSTGRES_DB="equipment-maintenances"

DATABASE_URL="postgresql://postgres:12345@postgres:5432/equipment-maintenances"

SALT_ROUNDS=10
JWT_SECRET_KEY="abcde....."

TECHNICIAN_LOGIN="technician"
TECHNICIAN_PASSWORD="12345678"
